body{
    text-align: top;
}

#leftBox{
    /* display: inline-block; */
    float: left;
    margin-left: 10vw;
    padding: 2%;
    border: 1px solid white;
    width: 10vw;
    height: 60vh;
    /* width: 50vw; */
}

#rightBox{
    display: inline-block;
    /* float: right; */
    margin-right: 10vw;
    border: 1px solid white;
    padding: 2%;
    height: 60vh;
    width: 50vw;
}

#topRight{
    font-size: 80%;
    overflow: auto;
    border: 1px solid white;
    padding: 2%;
    height: 50%;
    margin-bottom: 4vh;
    text-align: left;

}

#botRight{
    border: 1px solid white;
    padding: 2%;
    height: 40%;

}